 <form action = "{% url 'core:submeteraposta' %}" method="post" >
     <a>Bolas</a>
 <input type="text" name="Bola1" maxlength="2" max="50" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})" required>
 <input type="text" name="Bola2" maxlength="2" max="50" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
 <input type="text" name="Bola3" maxlength="2" max="50" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
 <input type="text" name="Bola4" maxlength="2" max="50" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
 <input type="text" name="Bola5" maxlength="2" max="50" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
<br>
     <br>
     <a>Estrelas</a>
 <input type="text" name="Estrela1" maxlength="2" max="13" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
 <input type="text" name="Estrela2" maxlength="2" max="13" min="1" size="2" onkeyup   ="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
    <input type="submit" value="submeter"  >
     {% csrf_token %}
</form>


    <iframe name="dados" id="sugestoes1" src="{% url 'core:sugestoes' %}" contenteditable="false" height="400" width="600"></iframe>

<script type="text/javascript">
   function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);


            form.appendChild(hiddenField);
            form.setAttribute("target","dados")

         }
    }

    document.body.appendChild(form);
    form.submit();

}
</script>
<br>
<a href="{% url 'core:areacomum'%}">Ir para Área Comum</a><br>