{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aposta.css'%}">

    <div class="container">
        <div class="row">
            <div class="col-6 centered">
                <form action = "{% url 'core:submeteraposta' %}" method="post" >
                <b><p>Preenche 5 Bolas</p></b>
                <input type="number" name="Bola1" maxlength="2" max="50" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})" required autofocus>
                <input type="number" name="Bola2" maxlength="2" max="50" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})" required>
                <input type="number" name="Bola3" maxlength="2" max="50" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})" required>
                <input type="number" name="Bola4" maxlength="2" max="50" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})" required>
                <input type="number" name="Bola5" maxlength="2" max="50" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})" required>


            <br>
            <div class="col-6 centered">
                <b><p>Preenche 2 Estrelas</p></b>
                <input type="number" name="Estrela1" maxlength="2" max="13" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
                <input type="number" name="Estrela2" maxlength="2" max="13" min="1" size="2" onkeyup="post('{% url "core:sugestoes" %}', {eb1:Bola1.value,eb2:Bola2.value,eb3:Bola3.value,eb4:Bola4.value,eb5:Bola5.value,ee1:Estrela1.value,ee2:Estrela2.value})">
            </div>
            <br>
            <div class="col-6 centered">
                {% if messages %}
		    <ul class='messages'>
                {% for message in messages %}
				<li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		    </ul>
	        {% endif %}
                <input type="submit" value="submeter"  >
                {% csrf_token %}
            </div>
             </form>
            <br>
            <div class="col-12 centered2">
                <iframe name="dados" id="sugestoes1" src="{% url 'core:sugestoes' %}" contenteditable="false" height="400" width="900"></iframe>
            </div>
        </div>
    </div>
<script type="text/javascript">
//http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
   function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);


            form.appendChild(hiddenField);
            form.setAttribute("target","dados")

         }
    }

    document.body.appendChild(form);
    form.submit();

}
</script>
{% endblock %}