{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apessoal.css'%}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
</head>

<body>
    <div class="container">
        <h1>Bem vindo, {{ user.get_full_name }} !</h1>


        <a href="{% url 'core:mostrardados'%}">Mostrar Dados Pessoais</a><br>
        </br>

        <a href="{% url 'core:changepassword' %}">Alterar Password</a><br>
        </br>

        <a href="{% url 'core:criarInfoBanc'%}">Dados Bancários</a><br>
        </br>

        <a href="{% url 'core:carregarsaldo'%}">Carrega o Saldo</a><br>
        </br>

        <a href="{% url 'core:editardados'%}">Atualizar Dados Conta</a><br>
        </br>

        <h2 align="center">Tabela com histórico de apostas do {{ user.get_full_name }}</h2><br>

        {% if apostasuser %}

            <table class="table table-bordered">
                <tr>
                    <th>Bola 1</th>
                    <th>Bola 2</th>
                    <th>Bola 3</th>
                    <th>Bola 4</th>
                    <th>Bola 5</th>
                    <th>Estrela 1</th>
                    <th>Estrela 2</th>
                </tr>
                {% for apos in apostasuser %}
                <tr>
                    <td>{{ apos.bola1 }}</td>
                    <td>{{ apos.bola2 }}</td>
                    <td>{{ apos.bola3 }}</td>
                    <td>{{ apos.bola4 }}</td>
                    <td>{{ apos.bola5 }}</td>
                    <td>{{ apos.estrela1 }}</td>
                    <td>{{ apos.estrela2 }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <h3>Ainda não fizestes apostas no nosso Site. Aposta já. </h3>
            {% endif %}
        </table>
    </div>

</body>
</html>
{% endblock %}

