{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
</head>

<body>
    <div class="container">
        <h1>Bem vindo, {{ user.get_full_name }} !</h1>


        <a href="{% url 'core:mostrardados'%}">Mostrar Dados Pessoais</a><br>
        </br>

        <a href="{% url 'core:changepassword' %}">Alterar Password</a><br>
        </br>

        <a href="{% url 'core:criarInfoBanc'%}">Dados Bancários</a><br>
        </br>

         <a href="{% url 'core:editardados'%}">Atualizar Dados Conta</a><br>
        </br>

        <h2>Tabela com histórico de apostas</h2><br>
        </br>

        <h2>Campo com Saldo Atual</h2>

        <a href="{% url 'core:carregarsaldo'%}">Carregar Saldo</a><br>
        </br>


    </div>

</body>
</html>
{% endblock %}

