{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <br>
        <h1>Tens na tua conta {{ user.conta.saldo }} Euros</h1>
        <br>

        <div class="container">
        <h3>Carregar Saldo em Conta</h3>

        <form action="{% url 'core:carregaS'%}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            <button type="submit" name="5e" value="Submit">5€</button>
            <button type="submit" name="10e" value="Submit">10€</button>
            <button type="submit" name="25e" value="Submit">25€</button>
        </form>
        </div>
    </div>

{% endblock %}