
<p>Tens na tua conta {{ user.saldo.saldo }} Euros</p>

<form action="{% url 'core:carregaS'%}" method="post">
    {% csrf_token %}

    <button type="submit" id="5e" value="Submit">5€</button>
    <button type="submit" id="10e" value="Submit">10€</button>
    <button type="submit" id="25e" value="Submit">25€</button>
</form>

<p>Aqui teremos uma lista com 3 opções de carregamento que o utilizador carregando acrescenta
dinheiro à conta automaticamente
    (no real deveria gerar referência multibanco e após verificação de conta entrava no saldo)
</p>

<a href="{% url 'core:areapessoal'%}">Ir para Área Pessoal</a><br>
</br>