{% extends 'base.html' %}
{% block content %}
    <title>Mudar password</title>
</head>
<body>
<form action="{% url 'core:submeterpass'%}" method="post">
            {% csrf_token %}
            <input type="password" placeholder="Password actual" name = "oldpassword" required/>
            {% if old %}
            Password errada.
            {% endif %}
            <input type="password" placeholder="Nova Password" name = "newpassword" required/>
            <input type="password" placeholder="Nova Password" name = "confnewpassword" required/>
            {% if no_match %}
            A password de confirmação não está igual.
            {% endif %}
            <input type="submit" value="Submit"/>
        </form>

<p><a href="{% url 'core:areapessoal' %}"><button type="button">Voltar para a pagina pessoal</button></a></p>
</body>
{% endblock %}