{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h1>Edite os seus dados pessoais </h1>
        <form action="{% url 'core:editRegisto'%}" method="post">
        {% csrf_token %}
            <p>Nome :  <input type="text" name="snome" placeholder="{{ user.first_name }}"> </p>
            <p>Apelido :  <input type="text" name="sapelido" placeholder="{{ user.last_name }}"> </p>

            <p>Email :  <input type="email" name="semail" placeholder="{{ user.email }}" size="22"> </p>
            <p>IBAN :  <input type="number" name="siban" placeholder="{{ user.conta.IBAN}}"> </p>

            <p>NIF :  <input type="number" name="snif" placeholder="{{ user.utilizador.NIF }}"> </p>
            <p>Contacto :  <input type="number" name="scontacto" placeholder="{{ user.utilizador.contacto }}" maxlength="9"> </p>

            <p>Morada :  <input type="text" name="smorada" placeholder="{{ user.utilizador.morada }}"> </p>

            <p>País :  <input type="text" name="spais" placeholder="{{ user.utilizador.pais }}"></p>

            {% if messages %}
		    <ul class='messages'>
                {% for message in messages %}
				<li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		    </ul>
	        {% endif %}

            <br><input type="submit" value="Salvar">&nbsp;&nbsp;
        </form>

    </div>
{% endblock %}