{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo Registo</title>
</head>
<body>
<div class="container">
    {% if user.conta.IBAN == None %}
        <p>Já tem IBAN {{ user.conta.IBAN }} associado à sua conta, caso pretenda alterar por favor tente
        <a href="{% url 'core:editardados'%}">Atualizar Dados Conta</a></p>
    {% else %}
        <h1> Atualize a sua conta</h1>

        <form action="{% url 'core:criarInfoB'%}" method="post">
            {% csrf_token %}

            <p><strong>IBAN :  </strong><input type="number" placeholder="IBAN" name="input_iban"/></p>

            <br><input type="submit" value="Registar"/>&nbsp;&nbsp;<button type="reset" value="Reset">Apagar Valores</button>
        </form>
    {% endif %}
</div>

</body>
</html>
{% endblock %}