{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>Página de gestão de conscursos</p>
{% if not fechado %}
<div>
    <a>Inserir chave da útima extração:{{ concursoAtivo.nSorteio }}</a>
    <form action = "{% url 'core:inserirconcurso' %}" method="post" >
     <a>Bolas</a>
     <input type="number" name="Bola1" maxlength="2" max="50" min="1" size="2" >
     <input type="number" name="Bola2" maxlength="2" max="50" min="1" size="2" >
     <input type="number" name="Bola3" maxlength="2" max="50" min="1" size="2" >
     <input type="number" name="Bola4" maxlength="2" max="50" min="1" size="2" >
     <input type="number" name="Bola5" maxlength="2" max="50" min="1" size="2" >
<br>
     <br>
     <a>Estrelas</a>
     <input type="number" name="Estrela1" maxlength="2" max="13" min="1" size="2" >
     <input type="number" name="Estrela2" maxlength="2" max="13" min="1" size="2" >

        <br>
     <a>Prémios</a>
    <a>1º prémio<input type="number" name="premio1" maxlength="15" ></a>
    <a>2º prémio<input type="number" name="premio2" maxlength="15" ></a>
    <a>3º prémio<input type="number" name="premio3" maxlength="15" ></a>
    <a>4º prémio<input type="number" name="premio4" maxlength="15" ></a>
    <a>5º prémio<input type="number" name="premio5" maxlength="15" ></a>
    <a>6º prémio<input type="number" name="premio6" maxlength="15" ></a>
    <a>7º prémio<input type="number" name="premio7" maxlength="15" ></a>
    <a>8º prémio</a><input type="number" name="premio8" maxlength="15" >
    <a>9º prémio</a><input type="number" name="premio9" maxlength="15" >
    <a>10º prémio</a><input type="number" name="premio10" maxlength="15" >
    <a>11º prémio</a><input type="number" name="premio11" maxlength="15" >
    <a>12º prémio</a><input type="number" name="premio12" maxlength="15" >
    <a>13º prémio</a><input type="number" name="premio13" maxlength="15" >

    <input type="submit" value="Fechar {{ concursoAtivo.nSorteio }}"  >
     {% csrf_token %}
</form>

{% else %}
    <p> Concurso {{ concursoAtivo.nSorteio }} fechado</p>
    <form action="{% url 'core:abrirConcurso'%}" method="post">
    {% csrf_token %}

    <button type="submit" name="numero" value="{{ concursoAtivo.nSorteio }} ">Abrir Concurso</button>
    </form>

{% endif %}

</div>
{% endblock %}