{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <p>Bem vindo, <b>{{ user.get_full_name }}</b>! </p>

        <br>

        <p>Deixa-me contar uma história acerca de ti! </p>
        <br>

        <p> O teu nome começou por ser <b>{{ user.first_name }}</b> e depois os teus pais decidiram que não era suficiente
            e então acrescentaram <b>{{ user.last_name }}</b>.</p>
        <br>
        <p>Tu nasceste no singelo país de <b>{{ user.utilizador.pais }}</b> e atualmente moras em <b>{{ user.utilizador.morada }}</b>.</p>
        <br>
        <p>Uma das tuas ambições na vida é ser rico, por isso é que preencheste o teu número de contribuinte
        <b>{{ user.utilizador.NIF }}</b> e o teu username <b>{{ user.username }}</b> e criaste esta conta.</p>

        <br>
        <p>Se ganhares vamos ser os primeiros a ligar-te para o <b>{{ user.utilizador.contacto }}</b> e já que estamos com a mão na massa
            também te enviamos um email para <b>{{ user.email }}</b></p>

        <br>

        {% if user.conta.IBAN != None %}
            <p>Ainda bem que preencheste o teu IBAN <b>{{ user.conta.IBAN }}</b> assim podemos transferir todo o dinheiro
                que vais ganhar connosco!</p>
        {% else %}
            <br>
            <p>Se calhar é melhor ires preencher o teu IBAN, porque senão não consegues utilizar esta página de
                fazer dinheiro!</p>
        {% endif %}
        <br>

        <h3>Se achas que alguma coisa não bate certo nesta história se calhar é melhor ires atualizar os teus dados</h3>
    </div>


{% endblock %}