{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/sugestoes.css'%}">

<p> DADOS DAS SUGESTOES </p>

<div id="frequencias" style="float: left">
    <table class="s" id="frequenciaBolas"  style="float: left">
        <tr>
            <th colspan="2">Frequencia Bolas</th>
        </tr>
        <tr>
            <th onclick="sortTable(0,'frequenciasBolas')"> Bola</th>
            <th onclick="sortTable(1,'frequenciasBolas')"> Vezes</th>
        </tr>
        {% for b,v in frequenciasBolas.items %}
             <tr>
                <td>{{ b }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
    </table>
<table id="frequenciaEstrelas" style="float: left">
        <tr>
            <th colspan="2">Frequencia Estrelas</th>
        </tr>
        <tr>
            <th onclick="sortTable(0,'frequenciaEstrelas')"> Estrela </th>
            <th onclick="sortTable(1,'frequenciaEstrelas')"> Vezes</th>
        </tr>
        {% for e,v in frequenciasEstrelas.items %}
             <tr>
                <td>{{ e }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
    </table>

</div>



    {% if sugestoes or estrelasSugeridas or data5 or data2%}
    {% if sugestoes %}
        <div id="combinacoes" style="float: left">
            <table id='Bolas' style="float: left">
                    {% if not escolhas %}

                    {% else %}
                        <th colspan="2">sugestões para {% for ek, n in escolhas.items %}{{ n }}-{% endfor %} </th>

                    {% endif %}
                    <tr>
                        <th onclick="sortTable(0,'Bolas')"> Bola</th>
                        <th onclick="sortTable(0,'Bolas')"> Vezes</th>
                    </tr>

                    {% for n, v in sugestoes.items %}
                        <tr>
                            <td>{{ n }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}


            </table>

    {% else %}
         {% if data5 %}

                <table id='bolasD' style="width:30%">
                    <th onclick="sortTable(0,'bolasD')"> Combinação Bolas ocorreu em:</th>
                    {% for d in data5 %}
                        <tr>
                            <td>{{ d }}</td>
                        </tr>
                    {% endfor %}
                </table>
         {% endif %}
    {% endif %}
    </div>

    <div style="float: left">
    {% if not data2  %}
        <table id='Estrelas' style="float: left">
            {% if not estrelasEscolhidas%}

            {% else %}
                {% if estrelasSugeridas %}
                    <tr>
                        <th colspan="2"> Par para a estrela {% for k, e in estrelasEscolhidas.items %} {{ e }}
                            - {% endfor %} </th>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <th onclick="sortTable(0,'Estrelas')">Estrela</th>
                <th onclick="sortTable(1,'Estrelas')">Vezes</th>
            </tr>
            {% for e,v in estrelasSugeridas.items %}
                <tr>
                    <td>{{ e }}</td>
                    <td>{{ v }}</td>
                </tr>
            {% endfor %}
        </table>


    {% else %}

                <table id='estrelasD' style="float: left">
                    <tr>
                        <th onclick="sortTable(0,'estrelasD')">Combinação Estrelas ocorreu em:</th>
                    </tr>
                    {% for d in data2 %}
                        <tr>
                            <td>{{ d }}</td>
                        </tr>
                    {% endfor %}
                </table>
    {% endif %}
    </div>
{% else %}
    <a>Para sugestões preencha os campos das bolas ou das estrelas</a>
{% endif %}

 <div style="float: right">
     <table id="epn">

         {% if estrelasPorNumeros %}
             <tr>
                <th colspan="2">Estrelas por Bolas</th>
            </tr>
             <tr>
                 <th onclick="sortTable(0,'epn')"> Estrela </th>
                 <th onclick="sortTable(1,'epn')"> Vezes </th>
             </tr>

             {% for est,vz in estrelasPorNumeros.items %}
                 <tr>
                    <td> {{ est }} </td>
                    <td>{{ vz }} </td>
                 </tr>
             {% endfor %}

         {% endif %}
     </table>
 </div>
<div style="float: right">
     <table id="npe">

         {% if numerosPorEstrelas %}
             <tr>
                <th colspan="2">Bolas por Estrelas</th>
            </tr>
             <tr>
                 <th onclick="sortTable(0,'epn')"> Bolas </th>
                 <th onclick="sortTable(1,'epn')"> Vezes </th>
             </tr>

             {% for bola,vz in numerosPorEstrelas.items %}
                 <tr>
                    <td> {{ bola }} </td>
                    <td>{{ vz }} </td>
                 </tr>
             {% endfor %}

         {% endif %}
     </table>
 </div>
<script type="text/javascript">

function sortTable(n,nomeTabela) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById(nomeTabela);
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 2; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (parseInt(x.innerHTML) > parseInt(y.innerHTML) ) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (parseInt(x.innerHTML) < parseInt(y.innerHTML) ) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>